.css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: auto;
    max-width: initial;
    padding-left: 8px;
}


.css-1vq4p4l {
    padding: 0px 1rem 5px;  /* ############################################### */
}


.st-bf {
    -webkit-tap-highlight-color: transparent;
    flex-direction:row;
}


.js-plotly-plot .plotly .user-select-none {
    user-select: none;
    margin-top: -5px;
}


.css-1egsca0 {
    width: 855px;
    position: relative;
    display: flex;

    flex-direction: column;
    gap: 1rem;
}


h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: rgb(49, 51, 63);
    padding: 22px 0px 0px;
    margin: 0px;
    line-height: 1.2;
}


h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(49, 51, 63);
    padding: 0.75rem 0px 1px;
    margin: 0px;
    line-height: 1.2;
}


.css-hxt7ib {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 1rem;
}


.jss1 {
    height: 10px;
    margin-left: 10px;
    padding-top: 50px;
    margin-right: 10px;
}


.exg6vvm14{
display:none;
}


.css1oyhl2h{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /*   padding: 1rem; */
  background-color: transparent;
  border-radius: 0.25rem;
  color: rgb(250, 250, 250);
}


.css-1offfwp p {
    word-break: break-word;
    text-align: center;
}


.css-1ekr7zl {
    width: 74px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0px;
}

/*.css-1huo2de {
    width: 80px;
    position: relative;
    height: 201px;
}*/

.css-qri22k {
    display: none;
    color: rgba(49, 51, 63, 0.4);
    flex: 0 1 0%;
    font-size: 14px;
    min-width: auto;
    max-width: initial;
    padding: 0.5rem 1rem;
    width: 100%;

}
